[submodule "torch/lib/gloo"]
	path = torch/lib/gloo
	url = https://github.com/facebookincubator/gloo
[submodule "torch/lib/pybind11"]
	path = torch/lib/pybind11
	url = https://github.com/pybind/pybind11
[submodule "torch/lib/nanopb"]
	path = torch/lib/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "torch/lib/onnx"]
	path = torch/lib/onnx
	url = https://github.com/onnx/onnx.git
[submodule "torch/lib/onnx-caffe2"]
	path = torch/lib/onnx-caffe2
	url = https://github.com/onnx/onnx-caffe2.git
